<div id="user_profile">
  <div id="user_photo">
    <img src="https://www.votipets.com/images/avatars/anonymous.jpg">
  </div>
  <div id="user_information">
    Email:
    <%= current_user.email %>
  </div>

</div>
