<h1> Timeline </h1>
<ul>
<% @posts.each do |post| %>
  <li> <a href='posts/<%= post.id %>' ><%= post.message %></a></li>
<% end %>
</ul>

<%= link_to new_post_path do %>
  Create a new post
<% end %>
